@import "atom-one-dark.css";

/* Overrides */
/*
body {
  background-color: #f2f2f2
}
*/
div.header div.row {
  margin: 0 auto; 
  text-align: center
}
/* Pages */
.nav_link {
  font-size: 24px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 90px;    /* Footer height */
}

.footer-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 90px;
}

.page-img {
  float: left;
  padding: 0px 10px 0px 10px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 40px;
  float: left;
}

/* HiLite Fixes */
pre code.hljs {
  display:block;
  overflow-x:auto;
  padding:1em
}

code.hljs {
  padding:3px 5px
}

.hljs {
  color: #abb2bf;
  background: #282c34;
}

/* Code Hilites */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #aaa;
    vertical-align: top;
}

.hljs-ln td.hljs-ln-numbers {padding-right: 1rem;}

td.hljs-ln-line {
    line-height: 21px;
    font-size: 12px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    border: 0;
}

table.hljs-ln {
    border: 0;
    margin: 0;
}

pre code.hljs {
    padding: 0.8em;
}

pre:has(> code) { padding:0; margin:0;}
